.accommodation {
  background: bottom 100px right -150px / auto no-repeat url(../img/accommodation/flower.png);
  &__slider {
    .slider-arrows {
      top: 230px;
      opacity: 0.25;
    }
    &-item {
      min-height: 780px;
    }
  }
  &-slider {
    &__head {
      min-height: 780px;
      position: relative;
    }
    &__subtitle {
      padding: 132px 80px 0 0;
      text-align: right;
      .section-subtitle {
        display: inline-block;
      }
    }
    &__descr {
      display: flex;
      justify-content: space-between;
      margin-top: -100px;
      .hammock {
        transform: translateY(-50%);
      }
      .descr {
        padding-left: 132px;
        &__title {
          display: flex;
          ul {
            display: flex;
            margin-left: 25px;
            li {
              display: flex;
              margin-right: 11px;
              align-items: center;
              &:last-child {
                margin-right: 0;
              }
              img {
                filter: drop-shadow(0px 0px 35px rgba(74, 246, 205, 0.837777));
              }
            }
          }
        }
      }
    }
    &__details {
      display: flex;
      justify-content: space-around;
      &-item {
        min-height: 200px;
        margin-bottom: 66px;
        position: relative;
        &:nth-child(2) {
          letter-spacing: 1px;
        }
        &:nth-child(3) {
          letter-spacing: 1px;
        }
        &:last-child {
          letter-spacing: 1px;
        }
      }
      &-subtitle {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 8px;
        opacity: 0.5;
        transform: rotate(-90deg) translate(-98%, 0);
        white-space: nowrap;
        text-align: right;
        height: 0;
        transform-origin: left top;
      }
      &-title {
        font-size: 40px;
        line-height: 36px;
        font-weight: 800;
        padding-left: 40px;
        width: 242px;
        .sum {
          display: flex;
        }
        .control {
          width: 46px;
          border: none;
          background: transparent;
          outline: none;
          text-align: center;
          color: $light;
          font-weight: 800;
          font-size: 40px;
        }
        .title-span {
          font-size: 14px;
          line-height: 36px;
          letter-spacing: 5.25px;
          font-weight: 400;
          opacity: 0.75;
          float: right;
          .controllers {
            display: flex;
            .btn-calc {
              font-size: 54px;
              color: $green;
              cursor: pointer;
              user-select: none;
              padding-left: 5px;
            }
          }
        }
      }
    }
    &__btn {
      text-align: center;
    }
  }
}
