.footer {
  padding: 282px 0 37px 0;
  text-align: center;
  .btn {
    span {
      padding-right: 17px;
      &::after {
        display: none;
      }
    }
  }
  &__copy {
    margin-top: 24px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    opacity: 0.5;
  }
}
